{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">

<div class="jumbotron">
  <h2>select your area</h2><br>
    <a href="student">Student</a><br><br>
    <a href="umiamhostel">Umiam Hostel</a><br><br>
    <a href="subhansrihostel">Subhansri Hostel</a><br><br>
    <a href="dhansarihostel">Dhansari Hostel</a><br><br>
    <a href="library">Librarian</a><br><br>
    <a href="cc">CC</a><br><br>
    <a href="gymkhana">Gymkhana</a><br><br>
    <a href="csedept">CSE department</a>
</div>
</div>
</div>
{% endblock %}